@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0,0,0);
}

p {
    color: #fff;
}

a {
    color: #13c8e0;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.picture-section {
    background-image: url("images/massimiliano-morosinotto-MljwsnGwdOY-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
}

.logo {
    position: relative;
    top: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo img {
    border-radius: 50%;
}

.form-section {
    width: 60vw;
}

.form-section p {
    position: relative;
    top: 15vh;
    width: 55vw;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 14px 20px;
    margin: 8px 0;
}

form {
    position: relative;
    top: 200px;
    width: 50vw;
    margin: 0 auto;
}

.form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 0 auto;
}

.form-container p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px auto 10px auto;
    padding: 0;
    position: relative;
    top: 0px;
    left: 55px;
}

.label-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20vw;
    margin: 15px auto;
}

label {
    color: #dda836;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}

input {
    color: #5f5f5f;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 8px;
    border-color: #000;
}

.form-left {
    margin: 0;
    padding: 0;
    width: 20vw;
    height: 20vh;
}

input[type=submit] {
    display: block;
    color: #13c8e0;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid #13c8e0;
    border-radius: 8px;
    padding: 10px 30px;
    margin: 40px 0;
    cursor: pointer;
}

input:focus:valid {
    outline: none !important;
    border: 3px solid #dda836;
    box-shadow: 0px 2px 1px #afafaf;
}

input:-webkit-autofill {
    color: #000;
    background: #dda836;
    border: 3px solid #13c8e0;
    box-shadow: 0px 2px 1px #afafaf;
}

input:autofill {
    color: #000;
    background: #dda836;
    border: 3px solid #13c8e0;
    box-shadow: 0px 2px 1px #afafaf;
}

input:focus:required:invalid {
    outline: none !important;
    border: 3px solid #800000;
    box-shadow: 0px 2px 1px #afafaf;
}

.form-section p:last-child {
    margin-left: 4vw;
    margin-top: -6vh;
}

footer > p {
    position: sticky;
    bottom: 0;
    padding: 10px;
    text-align: center;
    width: 40vw;
}

@media only screen and (max-width: 1120px) {
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
        height: auto;
    }

    .picture-section {
        background-size: 1120px;
        width: 100%;
    }

    .form-section {
        width: 60vw;
    }

    .form-section p {
        width: 100vw;
        text-align: center;
    }

    form {
        width: 100vw;
        margin: 0 auto;
    }
    
    .form-container {
        width: 100%;
    }
    
    .form-container p {
        width: 100vw;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 20px auto 10px auto;
        padding: 0;
        position: relative;
        top: 0px;
        left: 0px;
    }

    .label-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: 15px 15px 0px 15px;
    }
    
    input {
        color: #5f5f5f;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        margin-top: 5px;
        padding: 5px;
        border-radius: 8px;
        border-color: #000;
    }
    
    .form-left {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 20vh;
    }

    input[type=submit] {
        display: block;
        color: #13c8e0;
        background-color: transparent;
        font-size: 1.2em;
        font-weight: bold;
        border: 2px solid #13c8e0;
        border-radius: 8px;
        padding: 10px 40px;
        margin: 40px auto;
    }

    .form-section p:last-child {
        margin-left: 0vw;
        margin-top: -8vh;
    }
    
    footer > p {
        padding: 10px;
        margin-top: 150px;
        text-align: center;
        width: 100vw;
    }
}